<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   <section name="CustomFieldsSection" type="PX.Web.UI.Design.CustomFieldAttributesSection, PX.Web.UI.Design" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <CustomFieldsSection>
    <CustomFields>
      <clear />
      <add FieldName="&lt;Example Field&gt;" Table="" Type="Char">
        <Attributes>
          <clear />
          <add Name="PXDBString" Constructor="PXDBString(1, IsFixed = true)"
            IsActive="true" />
          <add Name="PXDefault" Constructor="PXDefault(&quot;H&quot;)"
            IsActive="true" />
          <add Name="PXUIField" Constructor="PXUIField()" IsActive="true" />
          <add Name="PXStringList" Constructor="PXStringList(new string[] { &quot;B&quot;, &quot;C&quot;, &quot;H&quot;, &quot;P&quot;, &quot;U&quot;, &quot;V&quot; }, new string[] { &quot;Balanced&quot;, &quot;Completed&quot;, &quot;On Hold&quot;, &quot;Posted&quot;, &quot;Unposted&quot;, &quot;Voided&quot; })"
            IsActive="true" />
        </Attributes>
      </add>
	
		<add FieldName="CreatedByID" Table="" Type="UniqueIdentifier" PreventUIFieldAttribute="True" IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBCreatedByID" Constructor="PXDBCreatedByID()" Class="PX.Data.PXDBCreatedByIDAttribute" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="CreatedByScreenID" Table="" Type="Char" PreventUIFieldAttribute="True"  IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBCreatedByScreenID" Constructor="PXDBCreatedByScreenID()" Class="PX.Data.PXDBCreatedByScreenIDAttribute" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="CreatedDateTime" Table="" Type="DateTime" PreventUIFieldAttribute="True"  IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBCreatedDateTime" Constructor="PXDBCreatedDateTime()" Class="PX.Data.PXDBCreatedDateTimeAttribute" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="LastModifiedByID" Table="" Type="UniqueIdentifier" PreventUIFieldAttribute="True"  IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBLastModifiedByID" Constructor="PXDBLastModifiedByID()" Class="PX.Data.PXDBLastModifiedByIDAttribute" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="LastModifiedByScreenID" Table="" Type="Char" PreventUIFieldAttribute="True"  IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBLastModifiedByScreenID" Constructor="PXDBLastModifiedByScreenID()" Class="PX.Data.PXDBLastModifiedByScreenIDAttribute" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="LastModifiedDateTime" Table="" Type="DateTime" PreventUIFieldAttribute="True"  IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXDBLastModifiedDateTime" Constructor="PXDBLastModifiedDateTime()" Class="PX.Data.PXDBLastModifiedDateTimeAttribute" IsActive="true" />
			</Attributes>
		</add>
		<add FieldName="NoteID" Table="" Type="UniqueIdentifier" PreventUIFieldAttribute="True"  IgnoreDefaultAttributes="True">
			<Attributes>
				<clear />
				<add Name="PXNote" Constructor="PXNote()" Class="PX.Data.PXNoteAttribute" IsActive="true" />
			</Attributes>
		</add>	
	
      <add FieldName="CuryID" Table="" Type="VarChar">
        <Attributes>
          <clear />
          <add Name="PXDBString" Constructor="PXDBString(5, IsUnicode = true)" IsActive="true" />
          <add Name="PXSelector" Constructor="PXSelector(typeof(Currency.curyID), CacheGlobal = true)"
            IsActive="true" />
          <add Name="PXUIField" Constructor="PXUIField(DisplayName = &quot;Currency ID&quot;)"
            IsActive="true" />
        </Attributes>
      </add>
      <add FieldName="AllowOverrideCury" Table="" Type="Bit">
        <Attributes>
          <clear />
          <add Name="PXDBBool" Constructor="PXDBBool()" IsActive="true" />
          <add Name="PXDefault" Constructor="PXDefault(typeof(Search&lt;CMSetup.aPCuryOverride&gt;))"
            IsActive="true" />
          <add Name="PXUIField" Constructor="PXUIField(DisplayName = &quot;Allow Currency Override&quot;)"
            IsActive="true" />
        </Attributes>
      </add>
      <add FieldName="AllowOverrideRate" Table="" Type="Bit">
        <Attributes>
          <clear />
          <add Name="PXDBBool" Constructor="PXDBBool()" IsActive="true" />
          <add Name="PXDefault" Constructor="PXDefault(typeof(Search&lt;CMSetup.aPRateTypeOverride&gt;))"
            IsActive="true" />
          <add Name="PXUIField" Constructor="PXUIField(DisplayName = &quot;Allow Rate Override&quot;)"
            IsActive="true" />
        </Attributes>
      </add>
      <add FieldName="TermsID" Table="" Type="VarChar">
        <Attributes>
          <clear />
          <add Name="PXDBString" Constructor="PXDBString(10, IsUnicode = true)" IsActive="true" />
          <add Name="PXDefault" Constructor="PXDefault()" IsActive="true" />
          <add Name="PXUIField" Constructor="PXUIField(DisplayName = &quot;Terms&quot;, Visibility = PXUIVisibility.SelectorVisible)"
            IsActive="true" />
          <add Name="PXSelector" Constructor="PXSelector(typeof(Terms.termsID), DescriptionField = typeof(Terms.descr))"
            IsActive="true" />
        </Attributes>
      </add>
      <add FieldName="CashAcctID" Table="" Type="Int">
        <Attributes>
          <clear />
          <add Name="PXDBInt" Constructor="PXDBInt" IsActive="true" />
          <add Name="PXDefault" Constructor="PXDefault(typeof(CashAccount.accountID))"
            IsActive="true" />
          <add Name="CashAccount" Constructor="CashAccount(null,DescriptionField = typeof(Account.description))"
            IsActive="true" />
          <add Name="PXUIField" Constructor="PXUIField(DisplayName = &quot;Cash Account&quot;)"
            IsActive="true" />
        </Attributes>
      </add>
      <add FieldName="PaymentTypeID" Table="" Type="VarChar">
        <Attributes>
          <clear />
          <add Name="PXDBString" Constructor="PXDBString(10, IsUnicode = true)" IsActive="true" />
          <add Name="PXDefault" Constructor="PXDefault(typeof(Search&lt;CashAccountDetail.paymentTypeID, Where&lt;CashAccountDetail.accountID,Equal&lt;Current&lt;CustomerClass.cashAcctID&gt;&gt;,&#xD;&#xA;							And&lt;CashAccountDetail.isDefault,Equal&lt;BQLConstants.BitOn&gt;&gt;&gt;&gt;))"
            IsActive="true" />
          <add Name="PXUIField" Constructor="PXUIField(DisplayName = &quot;Payment Type&quot;)"
            IsActive="true" />
          <add Name="PXSelector" Constructor="PXSelector(typeof(PaymentType.paymentTypeID), DescriptionField = typeof(PaymentType.descr))"
            IsActive="true" />
        </Attributes>
      </add>
    </CustomFields>
  </CustomFieldsSection>
</configuration>
